<!-- Content Header -->
<section class="content-header">
    <h1>
        Student
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Student</li>
        <li class="active">List</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-md-6 p-n">
                        <h3 class="box-title">Students</h3>

                        <!-- <button type="button" class="btn btn-sm btn-primary m-l-md" (click)="dummyStudents()"><i
                            class="fa fa-plus m-r-xs"></i> Insert Next 5000 Dummy Students</button> -->
                    </div>

                    <div class="col-md-6 text-right p-n">
                        <div class="col-md-9 p-n">
                            <div class="input-group input-group-sm">
                                <input type="text" id="filtertext" name="filtertext" [(ngModel)]="filtertext"
                                    class="form-control" placeholder="Search Name / Address / Mobile No"
                                    (keydown.enter)="onKeydown($event)" />
                                <span class="input-group-btn">
                                    <button type="button" (click)="search()" class="btn btn-info btn-flat"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 p-n text-right">
                            <button type="button" class="btn btn-sm btn-info" (click)="addStudent()"><i
                                    class="fa fa-plus m-r-xs"></i> Add Student</button>
                        </div>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover student-table" sortable-table (sorted)="onSorted($event)">
                        <tbody>
                            <tr>
                                <th sortable-column="firstname">First Name</th>
                                <th sortable-column="lastname">Last Name</th>
                                <th sortable-column="address">Address</th>
                                <th sortable-column="mobileno">Mobile No</th>
                                <th sortable-column="birthdate">Birthdate</th>
                                <th>Actions</th>
                            </tr>
                            <tr *ngFor="let student of students">
                                <td>{{ student.firstname }}</td>
                                <td>{{ student.lastname }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.mobileno }}</td>
                                <td>{{ parseDate(student.birthdate) }}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs m-r-sm"
                                        (click)="editStudent(student);">Edit</button>
                                    <button type="button" class="btn btn-danger btn-xs"
                                        (click)="deleteStudent(student);">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="row">
                        <custom-pagination [id]="pagination_1" [pager]="pager" (goFirst)="goToFirstPage()"
                            (goPrev)="gotToPrevPage()" (goNext)="goToNextPage()" (goLast)="goToLastPage()"
                            (goPage)="goToPage($event)" (changePageSize)="changePageSize($event)">
                        </custom-pagination>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>